.public-profile {
    height:100vh;
    background: linear-gradient(180deg, #FFFFFF 0%, #000000 98%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-public-profile {
    display: flex;   
    border-bottom: 2px solid black;
    padding: 20px 20px;
}

.back-icon {
    color:#000000;
    font-size: 30px;
}

.all-profile button {
    border: none;
}

.trash {
    font-size: 25px;
}

.public-profile-title {
    font-size: 24px;
    font-family: 'Quando';
    padding-left: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
}

.profileImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: -50px;
}

.avatar-container {
    margin-left: auto;
    margin-right: auto;
}

.backboard {
    display:flex;
    flex-direction: center;
    width: 270px;
    height: 130px;
    background-color: lightgray;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-right: auto;
    margin-left: auto;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lists button {
    padding: 3px 20px 3px 15px;
    margin: 7px;
    border-radius: 15px;
    width: 200px;
    height: 60px;
    border: 2px solid #962629;

}

.social-icon {
    display: flex;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
}

.social-icon svg {
    width: 20px;
    height: 20px;
}
  
.social-id {
    padding-left: 20px;
    font-size: 15px;
}

.name-university-public {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.name-public {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color:#FFFFFF;
    font-family: 'Quando';
    font-style: normal;
}

.university-public {
    font-size: 17px;
    color:#FFFFFF;
    font-family: 'Quando';
    font-style: normal; 
}



