<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Profile Link Page</title>
  </head>
  <body>
    <a href="/user/dashboard">Back</a> <br>
    <form method="POST" action="/user/profile/setProfileLink">
      <label for="profileLink"> Profile Link </label> <input type="text" id="profileLink" name="profileLink" > <br>
      <span> (This will be the link to your profile. It will be in the format of ".. /yourProfileLink") </span> <br>
      <span> (Recommended: Use your name or a nickname) </span> <br>
      <span style="color: red"> {{.LinkMessage}} </span> <br> <br>
      <button type="submit">Save</button>
    </form>
  </body>
</html>
