<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <style>
    .button-container {
      display: flex;
      flex-direction: column;
    }
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div>
    <img src="user_profile_photo.jpg" alt="User profile photo">
    {{/* <h4> {{.UniversityName}} </h4> */}}
  </div>
  <div class="button-container">
    <button>Profile Page</button>
    <button>Manage Tag</button>
    <button>Request Tag</button>
    <button>Settings</button>
  </div>
</body>
</html>
