<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
    <form method="POST" action="/register">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <span style="color: grey"> Please use example@{{.UniversityDomain}} to sign up your account</span><br>
        <br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <span style="color: red"> {{.ErrorMessage}}</span><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>