<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
    <form method="POST" action="/register">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <br>
        <label for="university">University:</label><br>
        <input type="text" id="university" name="university"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>