.background {
    height: 100vh; /* adjust the height as per requirement */
    background: linear-gradient(180deg, #FFFFFF 0%, #000000 98%);
}
.navbar {
    position: fixed; /* or absolute */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgb(255, 255, 255);
  }

.icons {
    display: flex;
    align-items: center;
    padding: 20px 0 30px;
    color:rgb(255, 255, 255);
    font-size: 40px;
}

  